<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="pffUser" value="myUserName"/>
    <add key="pffPass" value="myPassword"/>
    <add key="pffDataDirectory" value="myDirectoryPath" />
  </appSettings>
  <connectionStrings>
    <add connectionString="myDbConnectionString" name="pffDb"/>
  </connectionStrings>
</configuration>